.page {
width: 700px;
height: 1000px;
margin: auto;
border: 4px solid black;
border-radius: 20px;
box-shadow: 2px;
}

.entete {
width: 650px;
height: 200px;
border: 2px solid black;
border-radius: 2px;
margin: auto;
margin-top: 25px;
}

.photo {
float: right;
border: 2px solid black;
width: 150px;
height: 150px;
margin-top: 24px;
margin-right: 25px;
}

.infos {
float: left;

width: 400px;
height: 175px;
margin-top: 11px;
margin-left: 25px;
}

.section {
width: 650px;
height: 175px;
border: 2px solid black;
border-radius: 2px;
margin: auto;
margin-top: 10px;
}


.texte {
float: left;
border: 2px solid black;
width: 590px;
height: 100px;
margin-left: 25px;	
}
 
span.mots {
	font-weight: bold;
}







